name: Build lite version
permissions:
  contents: write
on:
  workflow_dispatch:
  push:
    branches:
      - '**'
jobs:
  build:
    continue-on-error: true # continue even if build failed for some platform
    strategy:
      fail-fast: false
      matrix:
        config:
        - name: Windows
          os: windows-latest
        - name: macOS
          os: macos-latest
        - name: iOS
          os: macos-latest
          target: iOS
        - name: Android64
          os: ubuntu-latest
          target: Android64
        - name: Android32
          os: ubuntu-latest
          target: Android32
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build the mod
        uses: geode-sdk/build-geode-mod@main
        with:
          combine: true
          target: ${{ matrix.config.target }}
          working-directory: ./_lite/
  upload:
    name: Combine and upload builds
    runs-on: ubuntu-latest
    needs: ['build']
    steps:
      - name: "Combine builds"
        uses: geode-sdk/build-geode-mod/combine@main
        id: build
      - name: "Upload artifact"
        uses: actions/upload-artifact@v4
        with:
          name: Build Output
          path: ${{ steps.build.outputs.build-output }}
